<div class="form">
  <form (ngSubmit)="onSubmit(serchForm)" #serchForm="ngForm">
    <label for="serch">Enter book name</label>
    <input
      type="text"
      name="serch"
      id="serch"
      [(ngModel)]="serch"
      required
      minlength="3"
    />
    <div *ngIf="serchForm.invalid && serchForm.touched">
      search term Must to be at least 3 characters long
    </div>
    <input type="submit" value="Serch Book" [disabled]="serchForm.invalid" />
  </form>
</div>
<div>
  <ol>
    <li *ngFor="let book of books">
      <app-books-view [book]="book"></app-books-view>
    </li>
  </ol>
</div>
<button
  *ngIf="index > 0"
  [disabled]="index >= totalItems / 10"
  (click)="loadMore()"
>
  Load More
</button>
